<!-- login.component.html -->
@if (!loader) {
    <div class="div-spinner" class="loading-container">
      <mat-progress-spinner mode="indeterminate" color="accent" diameter="50" class="spinner"></mat-progress-spinner>
    </div>
    }
    <div class="login-container">
      <mat-card>
        <mat-card-header>
          <div class="image-container">
            <img src="assets/logo/logo.jpg" alt=""><br>
            <b style="color: #42A5F5;">Attendance Management System</b>
          </div>
        </mat-card-header>
        <mat-card-content><br>
          <form [formGroup]="loginForm">
            <mat-form-field>
              <mat-label>Emp ID</mat-label>
              <input matInput placeholder="Enter Emp ID" formControlName="Emp_ID" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" name="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>User Type</mat-label>
              <mat-select formControlName="usertype" #item name="usertype" (selectionChange)="getValue(item)">
                @for (user of userType; track $index) {
                <mat-option [value]="user.user_id">{{user.user_type}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class="clearfix"></div>
            <!-- <mat-checkbox class="example-margin">Remember</mat-checkbox> -->
            @if (error != '') {
            <mat-error style="color: red;">{{error}}</mat-error>
            }
          </form>
          <button mat-raised-button color="warn" [disabled]="!loginForm.valid" (click)="login()">Login</button>
        </mat-card-content>
      </mat-card>
    </div>