# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Debugger configurations
.vscode
.idea

# Optional REPL history
.node_repl_history

# Dependency directories
jspm_packages/

# Build files
/dist
/build

# Coverage directory used by tools like jest or nyc
coverage

# Temporary files
/tmp
/temp

# Lint/formatting files
.eslintcache

# Ignore npm lock file
package-lock.json
yarn.lock

# Ignore editor and IDE settings
*.sublime-project
*.sublime-workspace

# Optional lock files
pnpm-lock.yaml
essl-backend/node_modules/tedious/appveyor.yml
essl-backend/node_modules/tedious/LICENSE
essl-backend/node_modules/tedious/package.json
essl-backend/node_modules/tedious/pull_request_template.md
essl-backend/node_modules/tedious/README.md
essl-backend/node_modules/tedious/tsconfig.build-types.json
essl-backend/node_modules/tedious/tsconfig.json
essl-backend/node_modules/tedious/benchmarks/common.js
essl-backend/node_modules/tedious/benchmarks/package-lock.json
essl-backend/node_modules/tedious/benchmarks/package.json
essl-backend/node_modules/tedious/benchmarks/README.md
essl-backend/node_modules/tedious/benchmarks/bulk-load/iterable.js
essl-backend/node_modules/tedious/benchmarks/connection/open.js
essl-backend/node_modules/tedious/benchmarks/query/call-tvp.js
essl-backend/node_modules/tedious/benchmarks/query/insert-varbinary.js
essl-backend/node_modules/tedious/benchmarks/query/select-many-rows.js
essl-backend/node_modules/tedious/benchmarks/query/select-nvarchar.js
essl-backend/node_modules/tedious/benchmarks/query/select-varbinary.js
essl-backend/node_modules/tedious/benchmarks/request/rpcrequest-payload-tvp.js
essl-backend/node_modules/tedious/benchmarks/request/rpcrequest-payload-varbinary.js
essl-backend/node_modules/tedious/benchmarks/token-parser/colmetadata-token.js
essl-backend/node_modules/tedious/benchmarks/token-parser/done-token.js
essl-backend/node_modules/tedious/benchmarks/token-parser/simple-tokens.js
essl-backend/node_modules/tedious/lib/all-headers.d.ts
essl-backend/node_modules/tedious/lib/all-headers.js
essl-backend/node_modules/tedious/lib/bulk-load-payload.d.ts
essl-backend/node_modules/tedious/lib/bulk-load-payload.js
essl-backend/node_modules/tedious/lib/bulk-load.d.ts
essl-backend/node_modules/tedious/lib/bulk-load.js
essl-backend/node_modules/tedious/lib/bulk-load.js.map
essl-backend/node_modules/tedious/lib/collation.d.ts
essl-backend/node_modules/tedious/lib/collation.js
essl-backend/node_modules/tedious/lib/connection.d.ts
essl-backend/node_modules/tedious/lib/connection.js
essl-backend/node_modules/tedious/lib/connection.js.map
essl-backend/node_modules/tedious/lib/connector.d.ts
essl-backend/node_modules/tedious/lib/connector.js
essl-backend/node_modules/tedious/lib/connector.js.map
essl-backend/node_modules/tedious/lib/data-type.d.ts
essl-backend/node_modules/tedious/lib/data-type.js
essl-backend/node_modules/tedious/lib/debug.d.ts
essl-backend/node_modules/tedious/lib/debug.js
essl-backend/node_modules/tedious/lib/errors.d.ts
essl-backend/node_modules/tedious/lib/errors.js
essl-backend/node_modules/tedious/lib/errors.js.map
essl-backend/node_modules/tedious/lib/guid-parser.d.ts
essl-backend/node_modules/tedious/lib/guid-parser.js
essl-backend/node_modules/tedious/lib/incoming-message-stream.d.ts
essl-backend/node_modules/tedious/lib/incoming-message-stream.js
essl-backend/node_modules/tedious/lib/instance-lookup.d.ts
essl-backend/node_modules/tedious/lib/instance-lookup.js
essl-backend/node_modules/tedious/lib/library.d.ts
essl-backend/node_modules/tedious/lib/library.js
essl-backend/node_modules/tedious/lib/login7-payload.d.ts
essl-backend/node_modules/tedious/lib/login7-payload.js
essl-backend/node_modules/tedious/lib/message-io.d.ts
essl-backend/node_modules/tedious/lib/message-io.js
essl-backend/node_modules/tedious/lib/message.d.ts
essl-backend/node_modules/tedious/lib/message.js
essl-backend/node_modules/tedious/lib/metadata-parser.d.ts
essl-backend/node_modules/tedious/lib/metadata-parser.js
essl-backend/node_modules/tedious/lib/ntlm-payload.d.ts
essl-backend/node_modules/tedious/lib/ntlm-payload.js
essl-backend/node_modules/tedious/lib/ntlm.d.ts
essl-backend/node_modules/tedious/lib/ntlm.js
essl-backend/node_modules/tedious/lib/outgoing-message-stream.d.ts
essl-backend/node_modules/tedious/lib/outgoing-message-stream.js
essl-backend/node_modules/tedious/lib/packet.d.ts
essl-backend/node_modules/tedious/lib/packet.js
essl-backend/node_modules/tedious/lib/prelogin-payload.d.ts
essl-backend/node_modules/tedious/lib/prelogin-payload.js
essl-backend/node_modules/tedious/lib/request.d.ts
essl-backend/node_modules/tedious/lib/request.js
essl-backend/node_modules/tedious/lib/request.js.map
essl-backend/node_modules/tedious/lib/rpcrequest-payload.d.ts
essl-backend/node_modules/tedious/lib/rpcrequest-payload.js
essl-backend/node_modules/tedious/lib/rpcrequest-payload.js.map
essl-backend/node_modules/tedious/lib/sender.d.ts
essl-backend/node_modules/tedious/lib/sender.js
essl-backend/node_modules/tedious/lib/sender.js.map
essl-backend/node_modules/tedious/lib/special-stored-procedure.d.ts
essl-backend/node_modules/tedious/lib/special-stored-procedure.js
essl-backend/node_modules/tedious/lib/sqlbatch-payload.d.ts
essl-backend/node_modules/tedious/lib/sqlbatch-payload.js
essl-backend/node_modules/tedious/lib/tds-versions.d.ts
essl-backend/node_modules/tedious/lib/tds-versions.js
essl-backend/node_modules/tedious/lib/tedious.d.ts
essl-backend/node_modules/tedious/lib/tedious.js
essl-backend/node_modules/tedious/lib/transaction.d.ts
essl-backend/node_modules/tedious/lib/transaction.js
essl-backend/node_modules/tedious/lib/transient-error-lookup.d.ts
essl-backend/node_modules/tedious/lib/transient-error-lookup.js
essl-backend/node_modules/tedious/lib/value-parser.d.ts
essl-backend/node_modules/tedious/lib/value-parser.js
essl-backend/node_modules/tedious/lib/always-encrypted/aead-aes-256-cbc-hmac-algorithm.js
essl-backend/node_modules/tedious/lib/always-encrypted/aead-aes-256-cbc-hmac-encryption-key.js
essl-backend/node_modules/tedious/lib/always-encrypted/cek-entry.d.ts
essl-backend/node_modules/tedious/lib/always-encrypted/cek-entry.js
essl-backend/node_modules/tedious/lib/always-encrypted/get-parameter-encryption-metadata.js
essl-backend/node_modules/tedious/lib/always-encrypted/key-crypto.js
essl-backend/node_modules/tedious/lib/always-encrypted/keystore-provider-azure-key-vault.d.ts
essl-backend/node_modules/tedious/lib/always-encrypted/keystore-provider-azure-key-vault.js
essl-backend/node_modules/tedious/lib/always-encrypted/symmetric-key-cache.js
essl-backend/node_modules/tedious/lib/always-encrypted/symmetric-key.js
essl-backend/node_modules/tedious/lib/always-encrypted/types.d.ts
essl-backend/node_modules/tedious/lib/always-encrypted/types.js
essl-backend/node_modules/tedious/lib/always-encrypted/utils.js
essl-backend/node_modules/tedious/lib/data-types/bigint.d.ts
essl-backend/node_modules/tedious/lib/data-types/bigint.js
essl-backend/node_modules/tedious/lib/data-types/bigint.js.map
essl-backend/node_modules/tedious/lib/data-types/binary.d.ts
essl-backend/node_modules/tedious/lib/data-types/binary.js
essl-backend/node_modules/tedious/lib/data-types/bit.d.ts
essl-backend/node_modules/tedious/lib/data-types/bit.js
essl-backend/node_modules/tedious/lib/data-types/bitn.d.ts
essl-backend/node_modules/tedious/lib/data-types/bitn.js
essl-backend/node_modules/tedious/lib/data-types/char.d.ts
essl-backend/node_modules/tedious/lib/data-types/char.js
essl-backend/node_modules/tedious/lib/data-types/date.d.ts
essl-backend/node_modules/tedious/lib/data-types/date.js
essl-backend/node_modules/tedious/lib/data-types/datetime.d.ts
essl-backend/node_modules/tedious/lib/data-types/datetime.js
essl-backend/node_modules/tedious/lib/data-types/datetime2.d.ts
essl-backend/node_modules/tedious/lib/data-types/datetime2.js
essl-backend/node_modules/tedious/lib/data-types/datetimen.d.ts
essl-backend/node_modules/tedious/lib/data-types/datetimen.js
essl-backend/node_modules/tedious/lib/data-types/datetimeoffset.d.ts
essl-backend/node_modules/tedious/lib/data-types/datetimeoffset.js
essl-backend/node_modules/tedious/lib/data-types/decimal.d.ts
essl-backend/node_modules/tedious/lib/data-types/decimal.js
essl-backend/node_modules/tedious/lib/data-types/decimaln.d.ts
essl-backend/node_modules/tedious/lib/data-types/decimaln.js
essl-backend/node_modules/tedious/lib/data-types/float.d.ts
essl-backend/node_modules/tedious/lib/data-types/float.js
essl-backend/node_modules/tedious/lib/data-types/floatn.d.ts
essl-backend/node_modules/tedious/lib/data-types/floatn.js
essl-backend/node_modules/tedious/lib/data-types/image.d.ts
essl-backend/node_modules/tedious/lib/data-types/image.js
essl-backend/node_modules/tedious/lib/data-types/int.d.ts
essl-backend/node_modules/tedious/lib/data-types/int.js
essl-backend/node_modules/tedious/lib/data-types/intn.d.ts
essl-backend/node_modules/tedious/lib/data-types/intn.js
essl-backend/node_modules/tedious/lib/data-types/money.d.ts
essl-backend/node_modules/tedious/lib/data-types/money.js
essl-backend/node_modules/tedious/lib/data-types/moneyn.d.ts
essl-backend/node_modules/tedious/lib/data-types/moneyn.js
essl-backend/node_modules/tedious/lib/data-types/nchar.d.ts
essl-backend/node_modules/tedious/lib/data-types/nchar.js
essl-backend/node_modules/tedious/lib/data-types/ntext.d.ts
essl-backend/node_modules/tedious/lib/data-types/ntext.js
essl-backend/node_modules/tedious/lib/data-types/null.d.ts
essl-backend/node_modules/tedious/lib/data-types/null.js
essl-backend/node_modules/tedious/lib/data-types/numeric.d.ts
essl-backend/node_modules/tedious/lib/data-types/numeric.js
essl-backend/node_modules/tedious/lib/data-types/numericn.d.ts
essl-backend/node_modules/tedious/lib/data-types/numericn.js
essl-backend/node_modules/tedious/lib/data-types/nvarchar.d.ts
essl-backend/node_modules/tedious/lib/data-types/nvarchar.js
essl-backend/node_modules/tedious/lib/data-types/real.d.ts
essl-backend/node_modules/tedious/lib/data-types/real.js
essl-backend/node_modules/tedious/lib/data-types/smalldatetime.d.ts
essl-backend/node_modules/tedious/lib/data-types/smalldatetime.js
essl-backend/node_modules/tedious/lib/data-types/smallint.d.ts
essl-backend/node_modules/tedious/lib/data-types/smallint.js
essl-backend/node_modules/tedious/lib/data-types/smallmoney.d.ts
essl-backend/node_modules/tedious/lib/data-types/smallmoney.js
essl-backend/node_modules/tedious/lib/data-types/sql-variant.d.ts
essl-backend/node_modules/tedious/lib/data-types/sql-variant.js
essl-backend/node_modules/tedious/lib/data-types/text.d.ts
essl-backend/node_modules/tedious/lib/data-types/text.js
essl-backend/node_modules/tedious/lib/data-types/time.d.ts
essl-backend/node_modules/tedious/lib/data-types/time.js
essl-backend/node_modules/tedious/lib/data-types/tinyint.d.ts
essl-backend/node_modules/tedious/lib/data-types/tinyint.js
essl-backend/node_modules/tedious/lib/data-types/tvp.d.ts
essl-backend/node_modules/tedious/lib/data-types/tvp.js
essl-backend/node_modules/tedious/lib/data-types/tvp.js.map
essl-backend/node_modules/tedious/lib/data-types/udt.d.ts
essl-backend/node_modules/tedious/lib/data-types/udt.js
essl-backend/node_modules/tedious/lib/data-types/uniqueidentifier.d.ts
essl-backend/node_modules/tedious/lib/data-types/uniqueidentifier.js
essl-backend/node_modules/tedious/lib/data-types/varbinary.d.ts
essl-backend/node_modules/tedious/lib/data-types/varbinary.js
essl-backend/node_modules/tedious/lib/data-types/varchar.d.ts
essl-backend/node_modules/tedious/lib/data-types/varchar.js
essl-backend/node_modules/tedious/lib/data-types/xml.d.ts
essl-backend/node_modules/tedious/lib/data-types/xml.js
essl-backend/node_modules/tedious/lib/errors/abort-error.d.ts
essl-backend/node_modules/tedious/lib/errors/abort-error.js
essl-backend/node_modules/tedious/lib/errors/timeout-error.d.ts
essl-backend/node_modules/tedious/lib/errors/timeout-error.js
essl-backend/node_modules/tedious/lib/token/colmetadata-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/colmetadata-token-parser.js
essl-backend/node_modules/tedious/lib/token/done-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/done-token-parser.js
essl-backend/node_modules/tedious/lib/token/env-change-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/env-change-token-parser.js
essl-backend/node_modules/tedious/lib/token/feature-ext-ack-parser.d.ts
essl-backend/node_modules/tedious/lib/token/feature-ext-ack-parser.js
essl-backend/node_modules/tedious/lib/token/fedauth-info-parser.d.ts
essl-backend/node_modules/tedious/lib/token/fedauth-info-parser.js
essl-backend/node_modules/tedious/lib/token/handler.d.ts
essl-backend/node_modules/tedious/lib/token/handler.js
essl-backend/node_modules/tedious/lib/token/helpers.d.ts
essl-backend/node_modules/tedious/lib/token/helpers.js
essl-backend/node_modules/tedious/lib/token/infoerror-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/infoerror-token-parser.js
essl-backend/node_modules/tedious/lib/token/loginack-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/loginack-token-parser.js
essl-backend/node_modules/tedious/lib/token/nbcrow-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/nbcrow-token-parser.js
essl-backend/node_modules/tedious/lib/token/order-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/order-token-parser.js
essl-backend/node_modules/tedious/lib/token/returnstatus-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/returnstatus-token-parser.js
essl-backend/node_modules/tedious/lib/token/returnvalue-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/returnvalue-token-parser.js
essl-backend/node_modules/tedious/lib/token/row-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/row-token-parser.js
essl-backend/node_modules/tedious/lib/token/sspi-token-parser.d.ts
essl-backend/node_modules/tedious/lib/token/sspi-token-parser.js
essl-backend/node_modules/tedious/lib/token/stream-parser.d.ts
essl-backend/node_modules/tedious/lib/token/stream-parser.js
essl-backend/node_modules/tedious/lib/token/token-stream-parser.d.ts
essl-backend/node_modules/tedious/lib/token/token-stream-parser.js
essl-backend/node_modules/tedious/lib/token/token.d.ts
essl-backend/node_modules/tedious/lib/token/token.js
essl-backend/node_modules/tedious/lib/tracking-buffer/writable-tracking-buffer.d.ts
essl-backend/node_modules/tedious/lib/tracking-buffer/writable-tracking-buffer.js
essl-backend/node_modules/tedious/lib/utils/with-timeout.d.ts
essl-backend/node_modules/tedious/lib/utils/with-timeout.js
essl-backend/node_modules/tedious/types/js-md4.d.ts
essl-backend/node_modules/tedious/types/native-duplexpair.d.ts
