<div class='demo-app-main'>
    <h4>Roaster Swap</h4>
    <h2>Employee to be Swap</h2> <br>
    <!-- <common-grid [rowData]="rowData" [colDefs]="colDefs" [allrows]="allrows" [heightWidth]="{ height: '100px', width: '90%' }"></common-grid> -->
    <ag-grid-angular [rowData]="rowData" [ngClass]="theme" [columnDefs]="colDefs" style="height: 130px;">
    </ag-grid-angular>

    <mat-form-field>
        <mat-label>Select Employee ID</mat-label>
        <mat-select #emp matNativeControl required (selectionChange)="getId(emp)">
            @for (item of employeeList; track $index) {
            <mat-option value="{{item.Emp_ID}}">{{item.Emp_Company_ID}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <ag-grid-angular [rowData]="rowDataSecond" [ngClass]="theme" [columnDefs]="colDefs" style="height: 130px;">
    </ag-grid-angular>
    <!-- <common-grid [rowData]="rowData" [colDefs]="colDefs" [allrows]="allrows" [heightWidth]="{ height: '100px', width: '90%' }"></common-grid> -->
    <br>
    <div style="text-align: center;">
        <button mat-flat-button color="primary" (click)="SwapRow()">Swap</button>
    </div>
</div>