<div class='demo-app-main'>
    <h4>Roaster Swap</h4>
    <h2>Employee to be Swap</h2> <br>
    <common-grid [rowData]="rowData" [colDefs]="colDefs" [allrows]="allrows" [heightWidth]="{ height: '100px', width: '90%' }"></common-grid>
    <!-- <ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" style="height: 100px;">
    </ag-grid-angular> -->

    <mat-form-field>
        <mat-label>Select Employee ID</mat-label>
        <select matNativeControl required (change)="getId($event)">
            @for (item of employeeList; track $index) {
                <option value="{{item.Emp_ID}}">{{item.Emp_ID}}</option>
            }
        </select>
    </mat-form-field>

    <!-- <ag-grid-angular [rowData]="rowDataSecond" [columnDefs]="colDefs" style="height: 100px;">
    </ag-grid-angular> -->
    <common-grid [rowData]="rowData" [colDefs]="colDefs" [allrows]="allrows" [heightWidth]="{ height: '100px', width: '90%' }"></common-grid>

    <button mat-flat-button color="primary" (click)="SwapRow()">Swap</button>
</div>