<div class="col-md-12 col-sm-12 col-lg-12 col-xm-12" style="text-align: right;" (click)="closeDialog()">
    <mat-icon style="cursor: pointer; color: #42A5F5;"> cancel_presentation</mat-icon>
</div>
<!-- @if ((type.type == 1 || type.type == 2 || type.type == 3) && type.unique == 2) {
<fullscreen></fullscreen>
}--> 
@if ((type.type == 1 || type.type == 2 || type.type == 3) && type.unique == 3) {
<roaster-model></roaster-model>
} @else {
<h2 style="text-align: center; padding-top: 100px;">Component not found</h2>
}