<div class="login-container">
    <mat-card>
        <mat-card-header>
            <div class="image-container">
                <img src="https://www.prosperitytravels.in/img/logo-new.png" style="max-width: 116px; max-height: 87px;"
                    alt=""><br>
                <b style="color: #2B2B6C;">Password Update Form</b>
            </div>
        </mat-card-header>
        <mat-card-content><br>
            <form [formGroup]="passChangeForm">
                <div class="col-md-12 col-sm-12 col-xm-12 col-lg-12 row">
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Employee ID</mat-label>
                            <input matInput placeholder="Enter Employee Name" formControlName="Emp_ID" required
                                readonly>
                        </mat-form-field>
                    </div>



                    @if(otpSent){
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="Enter Emp Alias Name" formControlName="Password" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>OTP</mat-label>
                            <input matInput placeholder="Enter OTP" formControlName="OTP" required>
                        </mat-form-field>
                    </div>
                    }



                </div>
            </form>
            <button mat-raised-button color="warn" [disabled]="otpSent" (click)="sendOTP()">Send OTP</button>
            @if(otpSent){
                <br>
            <button mat-raised-button color="warn" (click)="UpdatePassword()">Update Password</button>
            }
        </mat-card-content>
    </mat-card>
</div>