@if (flag) {
<div style="width: 100%; height: 100%; z-index: 999; position: relative; top: 0px; bottom: 0px; right: 0px; left: 0px; background-color: rgb(249, 247, 247);  opacity: 0.5;">
    <h1 style="text-align: center;line-height: 100%;">Page Loading, Please Wait</h1>
</div>
} @else {
<div class="login-container">
    <mat-card>
        <mat-card-header>
            <div class="image-container">
                <img src="assets/logo/logo.jpg" alt=""><br>
                <b style="color: #42A5F5;">Attendance Management System</b>
            </div>
        </mat-card-header>
        <mat-card-content><br>
            <form [formGroup]="signUpForm">
                <div class="col-md-12 col-sm-12 col-xm-12 col-lg-12 row">
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Employee Name</mat-label>
                            <input matInput placeholder="Enter Employee Name" formControlName="Emp_Name" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Emp Alias Name</mat-label>
                            <input matInput placeholder="Enter Emp Alias Name" formControlName="Emp_Alias_Name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Company</mat-label>
                            <input matInput placeholder="Enter Emp Company" formControlName="Emp_Company">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Designation</mat-label>
                            <input matInput placeholder="Enter Employee Designation" formControlName="Emp_Designation">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Contact No</mat-label>
                            <input matInput placeholder="Enter Emp Contact No" formControlName="Emp_Contact_No"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter Email ID" formControlName="Emp_email" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Team Name</mat-label>
                            <input matInput placeholder="Enter Team Name" formControlName="Emp_Team_Name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Location</mat-label>
                            <input matInput placeholder="Enter Location" formControlName="Emp_Location">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>DOB</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>Department Name</mat-label>
                            <input matInput placeholder="Enter Department Name" formControlName="Emp_Department_Name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>PAN Number</mat-label>
                            <input matInput placeholder="Enter PAN Number" formControlName="PAN_Number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>UAN Number</mat-label>
                            <input matInput placeholder="Enter UAN Number" formControlName="UAN_Number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xm-4 col-lg-4">
                        <mat-form-field>
                            <mat-label>ESIC Number</mat-label>
                            <input matInput placeholder="Enter ESIC Number" formControlName="ESIC_Number">
                        </mat-form-field>
                    </div>
                    <div class="clearfix"></div>
                    @if (error != '') {
                    <mat-error style="color: red;">{{error}}</mat-error>
                    }
                </div>
            </form>
            <button mat-raised-button color="warn" [disabled]="!signUpForm.valid" (click)="signUp()">Sign Up</button>
        </mat-card-content>
    </mat-card>
</div>
}