<button mat-raised-button color="warn" (click)="Back()">Back</button>
<div class="clearfix"></div>
<div *ngIf="showCalendar" class='demo-app-main'>
    <h4 style="text-align: center; position: relative;">
        Total Number of working days = {{working_days}}
        <!-- <button mat-raised-button
            style="background-color: deepskyblue; position: absolute; right: 0; top: 50%; transform: translateY(-50%);"
            (click)="closeDialog()">Close</button> -->
    </h4>

    <br>
    <full-calendar [options]='calendarOptions'>
        <!-- <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
        </ng-template> -->
    </full-calendar>
</div>