<!-- side-menu.component.html -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" style="background-color: #FFF4EA;">
        <mat-toolbar color="primary">
            <div class="bar-header">
                <!-- <img src="../../assets/logo/logo.jpg" style="height: 72px;" alt=""> -->
                <span class="text-right">
                    <table style="background-color: transparent; top: 0;position: fixed;left: 0;">
                        <thead>
                            <tr>
                                <td>
                                    <i class="bi bi-person-circle" [matMenuTriggerFor]="menu" style="color: #4758B8;"></i>
                                </td>
                                <td style="font-size: 15px; color: black; padding-left: 20px;">
                                    {{token.Emp_ID}} - {{token.userType.toUpperCase()}} <br> {{userName}}
                                </td>
                            </tr>
                        </thead>
                    </table>
                    
                    <div class="clearfix"></div>
                    <!-- <span [matMenuTriggerFor]="menu" style="color: #A8385D; font-size: 1.0rem; text-align: center; cursor: pointer;" class="email">{{login.firstName.toUpperCase()}}</span> -->
                    <mat-menu #menu="matMenu">
                        <span style="color: white; font-size: 0.8rem;"></span>
                        <button mat-menu-item (click)="logout()">Logout</button>
                        <span style="color: white; font-size: 0.8rem;"></span>
                        <button mat-menu-item (click)="changePassword()">Change Password</button>
                    </mat-menu>

                </span>
            </div>
        </mat-toolbar>
        <mat-nav-list>
            @for (menu of MenuList; track $index) {
            <a mat-list-item id="{{menu.id}}" mat-list-item [routerLink]="['/', 'dashboard', menu.redirect]"
                [queryParams]="{ type: menu.loginType, unique: menu.id }"> <span>{{ menu.name }}</span></a>
            }
            <!-- <a mat-list-item routerLinkActive="active" [routerLink]="['/', 'dashboard', 'admin']"> <span>Admin</span></a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/', 'dashboard', 'emplist']"> <span>Employee List</span></a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/', 'dashboard', 'emproster']"> <span>Employee Roster</span></a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/', 'dashboard', 'updateroster']"> <span>Update Roster</span></a> -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()" style="color: white !important; margin-bottom: 70px;">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="header_one" style="text-align: center;">
                <!-- ESSL --> <b>ASCSPL - Attendance Management System</b>
            </div>
            <div class="header_two">
                 <span style="cursor: pointer; color: #42A5F5; font-size: 15px;" [matMenuTriggerFor]="menu1"></span>
                <mat-menu #menu1="matMenu">
                    <a (click)="logout()" style="color: white !important; cursor: pointer;">Logout</a>
                </mat-menu>
            </div>
            <app-session-timer></app-session-timer>
        </mat-toolbar>

        <!-- Your main content goes here -->
        <section>
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>