.fc-event.present-event {
    background-color: green !important;
    border-color: green !important;
    color: white !important;
  }
  
  .absent-event {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
  }
  
  .leave-event {
    background-color: orange !important;
    border-color: orange !important;
    color: white !important;
  }
  
  .wo-event { /* Week Off */
    background-color: gray !important;
    border-color: gray !important;
    color: white !important;
  }
  